@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
</head>
<body>
    <h1>Reports</h1>
    <a class="btn-primary" href='/Report/MSReport'>Monthly Sales Report</a>
    <a class="btn-primary" href='/Report/PLReport'>Profit/Loss Report</a>
</body>
</html>
